<div class="container">
  <div class="Genre">
    <br><br>
    <h4>詳細</h4>
    <br>
    <%= link_to 'back', root_path %>
    <br><br>
    <table class="table">
      <thead class="thead-light">
        <tr>
          <th>No</th>
          <th>単語</th>
          <th>Good</th>
          <th>Bad</th>
        </tr>
      </thead>
      <tbody>
        <% @genre.cards.each_with_index do |g, index| %>
          <tr>
            <th scope="row">
              <%= index + 1 %>
            </th>
            <td>
              <%= link_to card_path(g) do %>
                <%= g.word %>
              <% end %>
            </td>
            <td>
              <input type="checkbox">
            </td>
            <td>
              <input type="checkbox">
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <br>
  <%= link_to 'back', root_path %>
</div>