<div class="container">
  <div class="Genre">
    <br><br>
    <h4>単語登録</h4>
    <br>
    <%= form_for @cards, url: cards_path do |form| %>
      <% @cards.collection.each do |card| %>
        <%= fields_for 'card[]', card do |f| %>
          <div class="fields">
            <div class="field">
              <%= f.label :ジャンル, class:"label" %>
              <%= f.collection_select :genre_id, Genre.all, :id, :name, { include_blank: true} %>
            </div>
            <div class="field">
              <%= f.label :単語, class:"label" %>
              <%= f.text_field :word %>
            </div>
            <div class="field">
              <%= f.label :解説, class:"label" %>
              <%= f.text_area :word %>
            </div>
          </div>
        <% end %>
      <% end %>
      <div class="action">
        <%= form.submit '登録',class:"submit-btn" %>
      </div>
    <% end %>
    <br><br>
  </div>
</div>